* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: black;
}

#game-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.asset {
	display: none;
}

@font-face {
	font-family: "kv-future";
	src: url(../assets/ui/kenvector_future.ttf) format("truetype");
}

@font-face {
	font-family: "kv-future-thin";
	src: url(../assets/ui/kenvector_future_thin.ttf) format("truetype");
}
